name: Nightly service sync

on:
  workflow_dispatch:
  schedule:
    - cron:  0 2 * * *

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Set up uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies with uv
        working-directory: ./scripts
        run: uv pip install --system -r requirements.txt

      - name: Run the Python script
        working-directory: ./scripts
        run: python sync-planx-services.py